body {
  margin: 0;
  padding: 0;
  font-size: 110%;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

.calculatorTitle{ 
  font-size:60px; 
  background: whitesmoke; 
  width: 1000px; 
  margin: 0 auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  color: black; 
} 

.calc{ 
  margin:0px; 
  padding:0px; 
  box-sizing: border-box; 
} 

#display {
  border-top: 2px solid black;
  border-bottom: 0px;
}

.row input{ 
  width: 800px; 
  height: 50px;
  border-top: 0px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: #ddd; 
  color: black; 
  padding: 10px; 
  text-align: right; 
  box-sizing: border-box;
} 

button { 
  width: 200px; 
  height: 100px;
  background: black; 
  border: 1px solid whitesmoke; 
  padding: 10px 20px; 
  color: whitesmoke; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 20px; 
} 
  
button:active { 
    background:whitesmoke; 
} 